/**********************************************
               Common Style
***********************************************/
body{
    font-family: 'Poppins', sans-serif;
}

.carousel-item img{
    filter: brightness(0.4);
    height: 95vh;
}

.carousel-caption{
    top: 27%;
}
.course-btn{
    margin-left: 42%;
}